<a href="https://colab.research.google.com/github/Kushwanth4579/python-practice/blob/module-1/Control_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#program to write if a person is eligible for vote or not
a=int(input("enter the age "))
if a>=18:
  print("eligible")
else:
   print("not eligible")

enter the age 12
not eligible

In [25]:
#find whwather a triangle is equilateral,sclene,isosecles
a=float(input("enter a "))
b=float(input("enter b "))
c=float(input("enter c "))
if a==b and b==c and c==a :
  print("triangle is equilateral")
elif a!=b and b!=c and c!=a :
  print("triangle is scalene")
else :
  print("triangle is isoceles")6

enter a 5
enter b 7
enter c 4
triangle is scalene

In [41]:
#leap year
a=int(input("enter the year "))
if a%400==0 :
   print("leap year")
elif a%4==0 and a%100!=0 :
  print("leap year")
else :
   print("not an leap year")

enter the year 2012
leap year

In [44]:
#number is positiive,negative ,zero
a=int(input("enter a number "))
if a>0 :
  print("number is positive")
elif a<0 :
  print("number is negative")
else :
  print("number is 0")

enter a number -4
number is negative

In [34]:
#check whaether is divisible by 5 and 11 or not
a=int(input("enter a number "))
if a%5==0 and a%11==0 :
  print("divisible")
else :
  print("not divisible")

enter a number 10
not divisible

In [15]:
#find maximun of 3 numbers
a=float(input("enter a"))
b=float(input("enter b"))
c=float(input("enter c"))
if a>b and a>c  :
     print("a is greatest")
elif b>c  :
     print("b is greatest")
else :
     print("c is greatest")

enter a5
enter b7
enter c9
c is greatest

In [20]:
#greatest of 5 subject marks

a=float(input("enter s1 marks"))
b=float(input("enter s2 marks"))
c=float(input("enter s3 marks"))
d=float(input("enter s4 marks"))
e=float(input("enter s5 marks"))
f=max(a,b,c,d,e)
print(f)

enter s1 marks15
enter s2 marks56
enter s3 marks99
enter s4 marks67
enter s5 marks34
99.0